<%- model_class = Phone -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% @phones.each do |p| %>
<div class="col-md-3">
  <div class="card" style="width: 20rem;">
    <%= image_tag 'xiaomi-mi-mix-2-front.jpg', width: 175, class: 'card-img-top', alt: 'Upload of users smartphone to be loaned out' %>
      <div class="card-block">
        <p class="card-text"><strong><%= p.brand %></strong> <%= p.model %></p>
        <p class="card-text"><strong>$<%= p.priceperweek %>.00</strong> per wk</p>
        <p class="card-text"><strong>Condition: </strong><%= p.condition %></p>
      <%= link_to 'Checkout LoanFone', phone_path(p), class: "btn bt-xs btn-primary" %>
    </div>
  </div>
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:brand) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:priceperweek) %></th>
      <th><%= model_class.human_attribute_name(:condition) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.brand %></td>
        <td><%= phone.model %></td>
        <td><%= phone.priceperweek %></td>
        <td><%= phone.condition %></td>
        <td><%=l phone.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      phone_path(phone), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_phone_path(phone), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      phone_path(phone),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_phone_path,
            :class => 'btn btn-primary' %>
