<%- model_class = Phone -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

  <%= image_tag @phone.image, alt: 'Phone of customers mobile to loan' %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:brand) %>:</strong></dt>
  <dd><%= @phone.brand %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @phone.model %></dd>
  <dt><strong>Price per week:</strong></dt>
  <dd>$<%= @phone.priceperweek %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condition) %>:</strong></dt>
  <dd><%= @phone.condition %></dd>
</dl>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script>
  function createStripeButton(amount) {
    return 'script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Payment for phone" data-amount="'+amount+'" data-locale="auto"></script'
  }

  var pricePerWeek = <%= @phone.priceperweek * 100 %>
  $(document).ready(function(){
    $('select[name=weeks]').change(function(){
      var total = $(this).val() * pricePerWeek
      $('#amount').html('$' + total/100)
      $('#paybtn').html('<' + createStripeButton(total) + '>')
      console.log(total)
    })
  })

  </script>
<% end %>

 <%= render '/messages/form', message: Message.new %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              phones_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_phone_path(@phone), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              phone_path(@phone),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
